<% provide :title, "Home" %>
<div class="center jumbotron">
  <h1>Welcome to the Weblog</h1>
  <h3> Are you ready to tells about your story. Please clicks button below to coming with us.</h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
